<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main/header.css}" href="../../static/css/main/header.css">
    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
</head>
<body>
    <header th:fragment="header">
        <a href="/"><img th:src="@{/image/main/logo/img_logo_kyobo.png}" src="../../static/image/main/logo/img_logo_kyobo.png" alt="메인페이지로고"></a>
        <div id="search-input">
            <input type="text" placeholder="검색어를 입력하세요" />
            <div>
                <i class="fa-solid fa-circle-xmark"></i>
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <nav>
            <ul>
                <th:block sec:authorize="isAuthenticated()">
                    <li class="user-logout"><a href="/user/logout"><i class="fa-solid fa-arrow-right-to-bracket"></i></a></li>
                </th:block>

                <li class="user-cart"><a href="/main/cart"><img th:src="@{/image/main/buttons/btn_header_cart.png}" src="../../static/image/main/buttons/btn_header_cart.png" alt=""></a></li>

                <li class="user-mypage"><a href="/user/mypage/main"><img th:src="@{/image/main/buttons/btn_header_my.png}" src="../../static/image/main/buttons/btn_header_my.png" alt=""></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>