<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>KOREAIT KYOBO 교보문고</title>
    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/main/home.css}" href="../../static/css/main/home.css">
    <link rel="stylesheet" th:href="@{/css/main/header.css}" href="../../static/css/main/header.css">
    <script th:src="@{/js/main/home.js}" defer></script>
</head>
<body>
    <th:block th:replace="~{/main/header :: header}"></th:block>
    <hr>
    <main>
        <section id="search-result-container">
            <div>
                <b>전체</b><span id="search-result-count">12345</span><b>건</b></div>
            <div>
                <span id="heart-all-btn" class="search-result-sub-btn" th:onclick="insert_heart_cart_checked([[${#authentication.getName()}]], this)"><i class="fa-solid fa-heart"></i></span>
                <span id="cart-all-btn" class="search-result-sub-btn" th:onclick="insert_heart_cart_checked([[${#authentication.getName()}]], this)">
                    <img th:src="@{/image/main/buttons/btn_header_cart.png}" src="../../static/image/main/buttons/btn_header_cart.png" alt="">장바구니 담기
                </span>
                <select id="search-result-order-select" class="search-result-sub-btn">
                    <option value="rating" selected>인기순</option>
                    <option value="orderCount">판매량순</option>
                    <option value="">최신순</option>
                    <option value="title">상품명순</option>
                </select>
                <select id="search-result-count-select" class="search-result-sub-btn">
                    <option value="8" selected>8개씩 보기</option>
                    <option value="12">12개씩 보기</option>
                    <option value="16">16개씩 보기</option>
                </select>
            </div>
        </section>
        <section id="book-result-container">
<!--            아래 내용은 JS에서 뿌려줌 -->
<!--            <div class="book-info-container">-->
<!--                <span><input class="book-info-check" type="button" value="체크"></span>-->
<!--                <img src="" alt="상품이미지">-->
<!--                <a href="#" class="book-info-title">명품 자바 에센셜</a>-->
<!--                <span>-->
<!--                    <a href="#">황기태</a>-->
<!--                     *-->
<!--                    <a href="#">생능출판</a>-->
<!--                </span>-->
<!--                <span>28,000원</span>-->
<!--                <span><input class="book-info-heart" type="button" value="하트"></span>-->
<!--            </div>-->
        </section>
        <div><ul id="book-paging-list"></ul></div>

    </main>
</body>
</html>