<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>KOREAIT KYOBO 교보문고</title>
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <script th:src="@{/js/main.js}" src="../static/js/main.js" defer></script>
</head>
<body>
<header>
    <a><img src="" alt="메인페이지로고"></a>
    <div>
        통합검색: <input type="text" placeholder="검색어를 입력하세요" /> <input type="button">
    </div>
    <nav>
        <th:block sec:authorize="!isAuthenticated()">
            <ul>
                <li><a href="/user/login">로그인</a></li>
                <li><a href="/user/register">회원가입</a></li>
            </ul>
        </th:block>
        <th:block sec:authorize="isAuthenticated()">
            <ul>
                <li><a href="/user/logout">로그아웃</a></li>
                <li><a href="/user/cart">장바구니</a></li>
                <li><a href="/user/mypage">마이페이지</a></li>
            </ul>
        </th:block>
    </nav>
</header>

<main>
    <section id="search-result-container">
        <span>전체 12345건</span>
        <div>
            <input id="heart-all-btn" type="button" value="하트" onclick="insert_heart_cart_checked(this)">
            <input id="cart-all-btn" type="button" value="장바구니 담기" onclick="insert_heart_cart_checked(this)">
            <select>
                <option value="">2개씩 보기</option>
                <option value="">3개씩 보기</option>
                <option value="">5개씩 보기</option>
            </select>
        </div>
    </section>
    <section id="book-result-container">
        <!--            아래 내용은 JS에서 뿌려줌 -->
        <!--            <div class="book-info-container">-->
        <!--                <span><input class="book-info-check" type="button" value="체크"></span>-->
        <!--                <img src="" alt="상품이미지">-->
        <!--                <a href="#" class="book-info-title">명품 자바 에센셜</a>-->
        <!--                <span>-->
        <!--                    <a href="#">황기태</a>-->
        <!--                     *-->
        <!--                    <a href="#">생능출판</a>-->
        <!--                </span>-->
        <!--                <span>28,000원</span>-->
        <!--                <span><input class="book-info-heart" type="button" value="하트"></span>-->
        <!--            </div>-->
    </section>
</main>

</body>
</html>