*{
    margin: 0;
    padding: 0;
    --font-size: 0.85em;
}

main{
    width: 65vw;
    margin: 0 auto;
}

input, select {
    font-size: var(--font-size);
    padding: 0.2em 0.35em;
}
select{
    cursor: pointer;
}

a{
    color: black;
    text-decoration: none;
}
/*******************************/
#search-result-container{
    display: flex;
    padding: 1em 0;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    font-size: 1.3em;
}
#search-result-container > div{
    display: flex;
    align-items: center;
}

#cart-all-btn{
    display: inline-flex;
    align-items: center;
}

.search-result-sub-btn{
    border: 1px solid black;
    border-radius: 0.3em;
    padding: 0.2em 0.5em;
    cursor: pointer;
    margin: 0 0.3em;
}
select.search-result-sub-btn{
    padding: 0.4em 0.5em;
}
#cart-all-btn img{
    width: 1.2em;
}

/********************************/
#book-result-container{
    display: grid;
    padding: 1em 0;
    grid-template-columns: repeat(4, 25%);
    row-gap: 1em;
    font-size: 1.2em;
}

#search-result-count{
    font-weight: bold;
    color: mediumseagreen;
}

.book-info-container {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
}

.book-info-title{
    font-weight: bold;
}

.book-info-check, .book-info-heart{
    cursor: pointer;
    border-radius: 0.3em;
    margin: 0.4em 0;
}





