<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>
<head>
    <meta charset="UTF-8">
    <meta th:name="${_csrf.parameterName}" th:content="${_csrf.token}">
    <title>Title</title>
    <script src="https://kit.fontawesome.com/d19fdaba43.js" crossorigin="anonymous"></script>
</head>
<body>
    <h3>찜 목록 페이지입니다</h3>
    <div th:each="bookVO: ${bookVOS}">
        <span>[[${bookVO.title}]]</span><br/>
        <span>[[${bookVO.author}]]</span><br/>
        <span>[[${bookVO.price}]]</span><br/>
    </div>

</body>
</html>











